body {
    width: 45vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    margin: auto;
}
a:hover {
    color: hotpink;
}
h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

img {
    border: solid 5px darkgray;
    border-radius: 5vh;
    height: 50vh;

}
img:hover {
    box-shadow: 5px 5px 5px grey;
}

