body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  background-color: #e9e9e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
header {
  padding: 2rem;
  background-color: #831f1f;
  color: orange;
  font-size: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  max-width: 100%;
}

.material-symbols-outlined {
  vertical-align: bottom;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #muges {
    margin: 1rem;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 #menu {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
  table {
    padding: 1rem ;
    width: 100%;
    max-width: 600px;
    border: 1px solid;
    min-height: 150px;
    background-color: rgb(247, 196, 87);
    border-radius: 1vw;
  }
 
  td {
    border-bottom: 2px solid rgb(255, 148, 9);
    padding: 0.5rem;
  }

  th {
    font-size: 1.2rem;
    background-color: rgba(66, 42, 6, 0.116);
    border-radius: 5px;
    padding: 0.5rem;

  }
  
  .contact {
    background-color: #ccc;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
  
  }
.contact p {
    padding: 1.2rem;
    color: white;
    background-color: #831f1f;
    border-radius: 2rem ;
  }
  .contact a {
    color: white;
  }

  .contact:hover {
    box-shadow:  10px 4px 3px 5px grey;
  }


  .filler {
    flex: auto;
  }
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: rgb(253, 156, 76);
    color: white;
    background-color: #d88629;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  #muges {
    columns: 260px;
    gap: 1rem;
    text-align: center;

  }
  img {
    width: 100%;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 1rem ;
  }


  footer {
    position: static;
    background-color: #831f1f;
    padding: 2rem ;
    margin-top: 2rem ;
    margin-bottom: 0;   
    color: white ; 
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    body {
      font-size: medium;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  