:root{
    --body-bg: rgb(234, 255, 203);
    --font-fam: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --nav-bg: yellow;
    --header-bg: grey;
    --table-even: beige;
    --table-h: lightgoldenrodyellow;
}
