body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
 background-color: rgb(209, 135, 66);
}

nav {
    background-color: rgb(47, 153, 95);
}
nav a {
    color: black;
}
header {
    background-color: rgb(116, 68, 29);
}

.t1 th {
    padding: 1rem;
    background-color: rgb(93, 133, 71);
    border: 2px solid grey;
  }
  .t1 tr:nth-child(even) {
    background-color: rgb(180, 173, 153);
  }