:root {
    --body-bg: rgb(209, 135, 66);
    --font-fam:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    --nav-bg: rgb(47, 153, 95);
    --header-bg:  rgb(116, 68, 29);
    --table-even: rgb(180, 173, 153);
    --table-h: rgb(93, 133, 71); 
}