body {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3o5d2NlYWpxeTZwd2w3ZTVsdjBienhjaHBuY3RoczR1cGx4d2Q5eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUOxeZR9gmFzbH8FRS/giphy.webp');
    max-width: 80vw;
    margin: auto;
    margin-top: 5em;
}

.tyd {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(26, 23, 23, 0.466) ;
    color: antiquewhite;
    border-color: rgba(26, 24, 24, 0.808);
    border-style: solid;
    border-width: 1em;
    border-radius: 2rem;
    padding: 3em;
}

.info {
    
    background-color: rgba(15, 15, 15, 0.466) ;
    color: antiquewhite;
    border-color: rgba(26, 24, 24, 0.808);
    border-style: solid;
    border-width: 0.5em;
    border-radius: 2rem;
    padding: 1em;
    margin: 2em
}

nav {
    font-size: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
    padding-inline: 1em;
    border-color: black;
    border-width: 0.5em;
    border-style: double;

    background-color: rgba(163, 26, 117, 0.527);}
a {
    background-color: rgba(241, 136, 177, 0.534);
    border-radius: 0.2em;
    padding: 0.2em;
    color: darkblue;
    text-decoration: none ;
}
a:hover {
    color: rgba(18, 1, 255, 0.993);
}
header {
    padding-inline: 1em;
    border-color: black;
    border-width: 0.5em;
    border-style: double;
    border-top-right-radius: 1.2em;
    border-top-left-radius: 1.2em;
    background-color: rgba(163, 26, 117, 0.527);

}
footer {
    border-radius: 1.2em;
    padding-inline: 1em;
    border-color: black;
    border-width: 0.5em;
    border-style: double;

    background-color: rgba(163, 26, 117, 0.527);
}