:root{
    --body-bg: rgb(221, 201, 183);
    --font-fam: cursive;   
    --nav-bg: rgb(179, 59, 38);
    --header-bg: rgb(29, 57, 116);
    --table-even: rgb(218, 110, 110);
    --table-h: rgb(159, 157, 248);
}
